<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
</head>

<body>

<div>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link"

                       th:href="@{/}">Home <i class="fa fa-home" aria-hidden="true"></i></a>
                </li>

                <th:block>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="allBooks" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All Books
                        </a>
                        <div class="dropdown-menu" aria-labelledby="allBooks">
                            <a class="dropdown-item" href="/books/all">All books</a>
                            <a class="dropdown-item" href="/books/Novel">Novels</a>
                            <a class="dropdown-item" href="/books/Fantasy">Fantasy</a>
                            <a class="dropdown-item" href="/books/Science%20Fiction">Science fiction</a>
                            <a class="dropdown-item" href="/books/For%20Children">For children</a>
                            <a class="dropdown-item" href="/books/Poetry">Poetry</a>
                        </div>
                    </li>
                </th:block>

                <li class="nav-item">
                    <a class="nav-link"

                       th:href="@{/authors}">Authors</a>
                </li>

                <th:block>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="search" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Search <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="search">
                            <a class="dropdown-item" href="/books/search">Books</a>
                            <a class="dropdown-item" href="/authors/search">Authors</a>
                        </div>
                    </li>
                </th:block>

                <th:block sec:authorize="hasRole('USER')">
                    <li class="nav-item">
                        <a class="nav-link"

                           th:href="@{/cart}">Cart <i class="fa fa-shopping-cart"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"

                           th:href="@{/orders/mine}">My Orders</a>
                    </li>
                </th:block>


                <th:block>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/books/add">Add a book</a>
                            <a class="dropdown-item" href="/authors/add">Add an author</a>
                            <a class="dropdown-item" href="/users/all">Add New Admin</a>
                            <a class="dropdown-item" href="/orders/unprocessed">Unprocessed Orders</a>
                            <a class="dropdown-item" href="/orders/processed">Processed Orders</a>
                            <a class="dropdown-item" href="/orders/statistics">Orders Statistics</a>
                        </div>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <div class="form-inline my-2 my-lg-0 px-3">
                            <form th:action="@{/users/logout}" th:method="post">
                                <button class="btn btn-link nav-link" type="submit" >Logout
                                    <i class="fas fa-sign-out-alt"></i></button>
                                <div class="text-white">Welcome,
                                    <th:block th:text="${#authentication.principal.fullName} + '!'">X</th:block>
                                </div>
                            </form>
                        </div>
                    </li>

                </th:block>

                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link"

                           th:href="@{/users/register}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"

                           th:href="@{/users/login}">Login <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>

</div>
</body>
</html>