<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white" th:text="${title}"></h2>
    <form th:action="@{${action}}"
          th:method="${method}"
          th:object="${bookModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="title" class="text-white font-weight-bold">Title</label>
                <input
                        id="title"
                        th:field="*{title}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="Title"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Title is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="authorId" class="text-white font-weight-bold">Author</label>
                <select id="authorId"
                        name="authorId"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select an author -</option>
                    <option
                            th:each="author : ${authors}"
                            th:text="${author.fullName}"
                            th:value="${author.id}"
                            th:selected="*{authorId} == ${author.id}">Author
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Author is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="genreId" class="text-white font-weight-bold">Genre</label>
                <select id="genreId"
                        name="genreId"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select a genre -</option>
                    <option
                            th:each="genre : ${genres}"
                            th:text="${genre.name}"
                            th:value="${genre.id}"
                            th:selected="*{genreId} == ${genre.id}">Genre
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Genre is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="yearOfPublication" class="text-white font-weight-bold">Year of Publication</label>
                <input
                        id="yearOfPublication"
                        th:field="*{yearOfPublication}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="Year of Publication"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Year of publication is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="summary" class="text-white font-weight-bold">Summary</label>
            <textarea
                    id="summary"
                    th:field="*{summary}"
                    th:errorclass="is-invalid"
                    type="textarea"
                    class="form-control"
                    rows="3"
                    placeholder="Summary"
            >
            </textarea>
            <p class="invalid-feedback errors alert alert-danger">
                Summary is required.
            </p>
        </div>

        <div class="form-group">
            <label for="imageUrl" class="text-white font-weight-bold">Image URL</label>
            <input
                    id="imageUrl"
                    th:field="*{imageUrl}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    placeholder="Image URL"/>
            <p class="invalid-feedback errors alert alert-danger">
                Image URL is required.
            </p>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input
                        id="price"
                        th:field="*{price}"
                        th:errorclass="is-invalid"
                        type="number"
                        step="1"
                        class="form-control"
                        placeholder="Price"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Price is required and should be a positive number.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" th:value="${buttonText}"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
