<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <title>Book details</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Book details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center" th:object="${book}">
        <div class="offer card col-sm-6 col-md-3  col-lg-4 m-1 p-0">
            <img th:src="*{imageUrl}" class="card-img-top" alt="Car image">
        </div>
        <div class="offer card col-sm-6 col-md-3  col-lg-4 m-1 p-0">
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span>• Title: <th:block th:text="*{title}"></th:block></span></div>
                    <div class="card-text"><span>• Author: <a th:href="@{/authors/{authorId}(authorId=*{author.id})}"
                                                              th:text="*{author.fullName}"></a></span></div>
                    <div class="card-text"><span>• Genre: <a th:href="@{/books/{genre}(genre=*{genre})}"
                                                             th:text="*{genre}"></a></span></div>
                    <div class="card-text"><span>• Year of publication: <th:block
                            th:text="*{yearOfPublication}"></th:block></span></div>
                    <div class="card-text"><span>• Price: <th:block th:text="*{price}"></th:block>$</span></div>
                    <div class="card-text"><span>• Summary: <th:block th:text="*{summary}"></th:block></span></div>
                    <input type="hidden" id="bookId" th:value="*{id}">
                </li>
            </ul>
            <div class="card-body">
                <div sec:authorize="hasRole('USER')" id="buyBookSection">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="minusBtn">-</button>
                        </div>
                        <input type="number" id="quantity" class="form-control" placeholder="1" aria-label=""
                               aria-describedby="basic-addon1" value="1">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="plusBtn">+</button>
                        </div>
                        <form th:action="@{/api/cart}" th:method="post" id="buyBookForm">
                            <input class="btn btn-success" type="submit" value="Buy book">
                        </form>
                    </div>
                </div>
                <a type="button" class="btn btn-warning" th:href="@{/books/update/{bookId}(bookId=*{id})}" sec:authorize="hasRole('ADMIN')">Update</a>
                <form sec:authorize="hasRole('ADMIN')" th:action="@{/books/{bookId}(bookId=*{id})}" th:method="delete">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <footer></footer>
</div>

<script src="/js/book-details.js"></script>
</body>
</html>
