<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white">Reset password</h2>

    <form
            th:action="@{/password/change}"
            th:method="post"
            th:object="${data}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="form-group">
            <label for="password" class="text-white font-weight-bold">New Password</label>
            <input
                    id="password"
                    th:field="*{password}"
                    th:errorclass="is-invalid"
                    name="email"
                    type="password"
                    class="form-control"
                    placeholder="Enter a new password"/>

            <p class="invalid-feedback errors alert alert-danger">
                Password is required and should be at least 5 symbols.
            </p>
        </div>

        <div class="form-group">
            <label for="confirmPassword" class="text-white font-weight-bold">Repeat Password</label>
            <input
                    id="confirmPassword"
                    th:field="*{confirmPassword}"
                    th:errorclass="is-invalid"
                    type="password"
                    class="form-control"
                    placeholder="Repeat password"
            />
            <p class="invalid-feedback errors alert alert-danger">
                Passwords should match.
            </p>
        </div>

        <input type="hidden" th:field="*{token}"/>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Reset password"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>
</body>
</html>
