<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center text-white">
    <h2>Password reset</h2>
    <h3>Dear, <span th:text="${fullName}"></span></h3>
    <h3>Please click the following link to change your password. The link expires in 24 hours and can only be used to change your password once.</h3>
    <a class="btn btn-success btn-lg" th:href="${verificationURL}">Reset password</a>

    <h3>If you experience any issues with the button above, copy and paste the URL below into your web browser.</h3>
    <span th:text="${verificationURL}" class="text-success text-lg-center"></span>
</div>

<div>
    <footer></footer>
</div>
</body>
</html>
